<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Most Starred Repositories</title>
		<script src="GitRepositories/js/angular/angular.min.js" type="text/javascript"></script>
		<script src="GitRepositories/js/angular/angular-resource.min.js" type="text/javascript"></script>
		<script src="GitRepositories/js/jquery-1.12.4.js" type="text/javascript"></script>
		<script src="GitRepositories/js/controller.js" type="text/javascript"></script>
		<link href="GitRepositories/css/assets/styles/salesforce-lightning-design-system.css" rel="stylesheet" type="text/css"/>
	</head>
	<body ng-app="topInformationApp" ng-controller="topInformationCtrl">
		<table class="slds-table slds-table_bordered slds-table_cell-buffer">
			<thead>
				<tr class="slds-text-title_caps">
					<th scope="col">
						<div class="slds-truncate" title="Photo">Photo</div>
					</th>
					<th scope="col">
						<div class="slds-truncate" title="Repository Owner">Repository Owner</div>
					</th>
					<th scope="col">
						<div class="slds-truncate" title="Repository Name">Repository Name</div>
					</th>
					<th scope="col">
						<div class="slds-truncate" title="Stars">Stars</div>
					</th>
					<th scope="col">
						<div class="slds-truncate" title="Fork">Fork</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows">
					<th scope="row" data-label="Photo">
						<div class="slds-truncate" title="{{row.repositoryOwner}}'s Photo">
							<img src="{{row.photoUrl}}" alt="{{row.repositoryOwner}}'s Photo" height="42" width="42">
						</div>
					</th>
					<td data-label="Repository Owner">
						<div class="slds-truncate" title="{{row.repositoryOwner}}">{{row.repositoryOwner}}</div>
					</td>
					<td data-label="Repository Name">
						<div class="slds-truncate" title="{{row.repositoryName}}">{{row.repositoryName}}</div>
					</td>
					<td data-label="Stars">
						<div class="slds-truncate" title="{{row.stars}}">{{row.stars}}</div>
					</td>
					<td data-label="Forks">
						<div class="slds-truncate" title="{{row.forks}}">{{row.forks}}</div>
					</td>
				</tr>				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<div style="float:left">
							<a ng-click="previousPage()">Previous Page</a>
						</div>
					</td>
					<td>
						Page {{page}} of {{totalPages}}
					</td>
					<td colspan="2">
						<div style="float:right">
							<a ng-click="nextPage()">Next Page</a>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>